 body {
     text-align: center;
 }
 
 #survey-form {
     width: 900px;
     margin: 0 auto;
 }
 
 .row-tab {
     display: block;
     padding-top: 20px;
 }
 
 .label-surveyform {
     display: inline-block;
     width: 40%;
     text-align: right;
 }
 
 .label-surveyform {
     display: inline-block;
     width: 40%;
     text-align: left;
 }
 
 .input-surveyform {
     display: inline-block;
     text-align: left;
     width: 40%;
 }
 
 .label-select {
     display: inline-block;
     width: 40%;
     text-align: right;
 }
 
 .select-input {
     display: inline-block;
     text-align: left;
     width: 40%;
 }